.user-detail-header {
  min-height: 250px;
  background-color: orangered;
  color: white;
  display: flex;
  flex-direction: unset;
  align-items: flex-end;

  img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    object-fit: cover;
    margin: 16px;
  }
}

.user-details {
  height: 100px;
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  h2 {
    margin: 0;
  }
}

.pin-right-upper-corner {
  position: absolute;
  right: 16px;
  top: 16px;
}
